API_ID=6
API_HASH=eb06d4abfb49dc3eeb1aeb98ae0f581e
BOT_TOKEN=7047142492:abcdefGHiJkLmN
YT_CLIENT='{"installed":{"client_id":"7852782-dsrthdrthdrth.apps.googleusercontent.com","project_id":"ytuplive2","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"GOCSPX-Gj_Jixdgbxdr4qImdxguQDGKU","redirect_uris":["http://localhost"]}}'
DOWNLOAD_TIMEOUT_MINUTES=20
